<form action="/user/add" method="post">
<p>
    <label>Student Name</label><input value="" name="stdname" /><br/>
    <label>Student Email</label><input value="" name="stdemail" /><br/> 
    <button type="submit"> Add student</button>
</p>

</form> 